# server config
PORT=
NODE_ENV=


# database config
DATABASE_URL=mongodb+srv://username:<db_password>@projectname.12345.mongodb.net/?retryWrites=true&w=majority&appName=appName
DATABASE_PASSWORD=password

# jwt config
JWT_SECRET=
JWT_EXPIRATION_TIME=